/* default */
* {
    list-style: none;
    text-decoration: none;
    border-collapse: none;
    margin: 0;
    padding: 0;
}

/* header */
header {
    width: 100%;
    height: 718px;
    background: url(img/header.png);
    color: white;
}

header .menu {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

header .search {
    width: 300px;
    height: 40px;
    margin-top: 24px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}

header .search form input {
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0);
    color: white;
    padding-left: auto;
}

header .search form span {
    width: 50px;
    color: white;
    font-weight: bold;
    cursor: center;
}

header .menu ul {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 980px;
    color: white;
}

header .menu ul li {
    margin-left: 84px;
}

header .text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

header .text h1 {
    font-size: 40px;
}

header .text p {
    font-size: 20px;
}

header .indicator {
    position: relative;
    top: 10px;
    display: flex;
    background: white;
    width: 1280px;;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

header .indicator li {
    flex: 1;
    height: 132px;;
}

header .indicator li div {
    margin: 37px 0 0 0;
    text-align: center;;
    height: 57px;
}

header .indicator li div p {
    color: black;
}

header .indicator > li:not(:last-child) > div {
    border-right: 1px solid gray;
}

header .indicator li div .number {
    font-size: 24px;
}

header .indicator li div p {
    font-size: 20px;
}

/* main */
main .about {
    width: 100%;
    height: 601px;
    background: #f1f2f3;
}

main .about .text {
    padding: 116px 0 0 0;
    text-align: center;
}

main > .about > .content {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    padding: 50px 0 0 0;
    margin: auto;
}

main > .about > .content > div {
    flex: 1;
    height: 302px;
    background: white;
}

main > .about > .content > div:not(:last-child) {
    margin-right: 20px;
}

main .about .content div .icon {
    text-align: center;
    margin: 36px 0 0 0;
}

main .about .content div .icon h2 {
    font-size: 18px;
    padding: 7px;
}

main .about .content div .icon p {
    font-size: 14px;
}

main .about .content div .button {
    text-align: center;
    margin: 10px 0 10px 0;
}

main .about .content div button {
    text-align: center;
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    border: none;
    color: white;
}


/* footer */