* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    color: white;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.material-icons {
    font-size: 10rem;
}

.typing {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.typing::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

.typing.active::after {
    display: none;
}

.welcome {
    font-size: 1.5rem;
}