.mainBody {
    margin: 40px;
    line-height: 3;
}

.title {
    color: rgb(126, 126, 126);
    font-size: 12px;
}

.articles {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 2;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
}

.photos img {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 255, 0.3);
}